.fixlabels {
    label {
        box-sizing: unset;
        display: unset;
        // float: unset;
        width: unset;
        // padding-right: unset;
        padding-top: unset;
        padding-left: unset;
    }
}
