.section {
    &__title {
        box-sizing: border-box;
        height: 40px;
        -webkit-font-smoothing: auto;
        background: #fcf2f2;
        color: #200200;
        text-transform: uppercase;
        padding: 0.9em 0 0.9em 5em;
        font-size: 0.95em;
        margin: 0;
        line-height: 1.5em;
        font-weight: 400;
        overflow: hidden;
        position: relative;

        > h3 {
            display: inline;
            text-transform: inherit;
            font-weight: inherit;
            float: none;
            color: inherit;
            font-size: inherit;
        }
    }

    &__icon {
        height: 1rem;
        width: 1rem;
    }

    &__icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        color: #fff;
        padding: 0;
        margin: 0;
        background-color: #f37e77;
    }

    &__content {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
